$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont:
  Verdana,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Helvetica,
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol";

html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}


body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  max-width: 960px;
  width: 80%;
  height: 90%;
  padding: clamp(1rem, 8vw, 4rem) 2rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}


// nav
nav {
  font-size: 2em;
}

.nav-home {
  color: inherit;
  font-style: italic;
  text-decoration-line: overline underline;
  text-decoration-style: dotted;
}

.nav-home:hover {
  background-color: lightgrey;
}

// post
.post-date {
  font-size: .5em;
  font-style: italic;
}

.post-content {
  margin: 1rem;
  padding: 0;
}

// index
.post-list {
  margin: 1em;
  padding: 0;
}

.post-card {
  list-style: none;
  text-decoration: none;
}

.post-card--link {
  color: inherit;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}
.post-card--link:hover {
  background-color: lightgrey;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}


// footer
footer {
  font-size: 12px;
  padding-bottom: 2em;
}

.footer-link {
  border-style: dotted;
  border-width: 2px;
  padding: .25em;
  margin: 0.25em;
  margin-left: 0;
  text-decoration: none;
  color: inherit;
}

.footer-link:hover {
  background-color: lightgrey;
}

// images
img {
  overflow: hidden;
  display: block;
  width: 80%;
  vertical-align: middle;
  float: none;
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
}

.image-description {
  font-size: smaller;
  text-align: center;
  color: grey;
  font-style: italic;
}

// @media screen and (max-width: 789px) {
// @media screen and (min-width: 300px) and (max-width: 992px) and (orientation: portrait){
@media screen and (min-width: 300px) and (max-width: 992px) and (orientation: portrait) and (pointer: coarse){
// @media screen and (max-width: 800px) {
  body {
    font-size: 4.5vw;
    // font-size: 200px;
  }

  nav {
    font-size: 1em;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  .post-date {
    font-size: .5em;
  }

  img {
    width: 100%;
  }

  footer {
    font-size: 1rem;
  }

}

